.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #96CADC;
    font-size: 1em;
    
    &__form {
        min-width: 450px;
        min-height: 450px;
        padding: 1.5em;
        margin: auto;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.52);
        
    }
    &__title {
        margin-bottom: 2em;
        font-size: 42px;
        text-align: center;
        font-weight: 500; 
    }
    
}