.unauthorized{
    width:  70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: $color-white;
    border-radius: 2rem;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.20), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;

    &__title {
        font-weight: 600;
        font-size: 4rem;
        margin: 3rem;
    }

    &__text {
        font-size: 2rem;
        max-width: 90rem;
        text-align: center;
        color: $color-grey-dark;
    }

    &__img {
        height: 125px;
        width: 125px;
        margin-top: 3rem;
    }

    &__buttons {
        margin-top: 6rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}