.unauthorized{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: $color-grey-dark;

    @media screen and (max-width: $bp-medium) {
        padding: 1rem;
    }

    &__title {
        font-weight: 400;
        font-size: 4rem;
        margin: 3rem;
        text-align: center;

        @media screen and (max-width: $bp-medium) {
            font-size: 3rem;
            margin: 2rem;
        }

        @media screen and (max-width: $bp-small) {
            font-size: 2.3rem;
            margin: 2rem 1rem;
        }
    }

    &__text {
        font-size: 2rem;
        text-align: center;

        @media screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
        }
    }

    &__img {
        height: 10rem;
        width: 10rem;
        margin-top: 2rem;
        filter: invert(46%) sepia(0%) saturate(0%) hue-rotate(64deg) brightness(99%) contrast(89%);

        @media screen and (max-width: $bp-medium) {
            height: 8rem;
            width: 8rem;
        }
    }

    &__buttons {
        margin-top: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}