/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background-color: #ffffff;
}
@media only screen and (max-height: 50em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #ffffff;
  height: auto;
  font-size: 3rem;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

.button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 20rem;
  height: 6rem;
  color: #00ACE6;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 400;
  border: 1px solid #00ACE6;
  box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.25);
}
.button:hover {
  transition: all 200ms ease-out;
  box-shadow: 0px 1.4rem 2rem rgba(0, 0, 0, 0.34);
  background-color: #00ACE6;
  color: #ffffff;
}
.button__text {
  margin: auto;
}

.form-group__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}
.form-group__span {
  margin-bottom: 10px;
}
.form-group__input {
  font-size: 1em;
  height: 2em;
}
.form-group__error {
  color: rgb(247, 18, 18);
  font-size: 15px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 2rem 0;
  z-index: 10;
  position: absolute;
}
.navbar__logo {
  margin-left: 5rem;
  color: #ffffff;
  font: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 5rem;
}
.navbar__button-container {
  margin-left: auto;
  margin-right: 12rem;
}

.hero-content {
  background: linear-gradient(135deg, #00ACE6, #46D0FF 100%);
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 10rem;
  padding-right: 2rem;
  justify-content: center;
  border-radius: 0px 0px 10rem 0px;
}
.hero-content__title {
  font-size: 9rem;
  width: 90%;
}
.hero-content__text {
  width: 85%;
  font: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}

.hero-image {
  position: relative;
  display: flex;
  z-index: 0;
}
.hero-image__image {
  margin-left: auto;
  border-radius: 0px 0px 0px 10rem;
  width: 60%;
}

.como-empiezo {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  grid-column-gap: 25rem;
  padding: 20rem 20rem;
  color: #00ACE6;
}
.como-empiezo__img {
  width: 40rem;
  height: 40rem;
  grid-column: 1/2;
  border-radius: 100%;
  object-fit: cover;
  grid-row: 1/4;
}
.como-empiezo__title {
  grid-column: 2/3;
  font-size: 8rem;
  grid-row: 1/3;
}
.como-empiezo__text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 3rem;
  margin-top: 8rem;
  padding-right: 5rem;
}
.como-empiezo__button {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.footer {
  background-color: #EFEFEF;
  border-radius: 0px 10rem 0px 0px;
  height: 30vh;
  padding: 0rem 8rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.footer-links {
  color: #00ACE6;
  display: flex;
  flex-direction: column;
  width: max-content;
}
.footer-links__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.footer-links__link {
  font-size: 2.2rem;
  margin-top: 0.5rem;
  color: inherit;
  text-decoration: none;
}
.footer-links__link:active {
  color: inherit;
  text-decoration: none;
}

.footer-imagenes {
  display: flex;
  flex-direction: column;
}
.footer-imagenes__cordoba {
  height: 9rem;
  margin-bottom: 2rem;
}
.footer-imagenes__educacion {
  height: 6rem;
}

.footer-redes {
  margin-top: auto;
  margin-bottom: 5rem;
}
.footer-redes__svg {
  margin-left: 1rem;
}
.footer-redes__svg--1 {
  filter: brightness(0) saturate(100%) invert(65%) sepia(53%) saturate(6330%) hue-rotate(162deg) brightness(99%) contrast(101%);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #96CADC;
  font-size: 1em;
}
.login__form {
  min-width: 450px;
  min-height: 450px;
  padding: 1.5em;
  margin: auto;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.52);
}
.login__title {
  margin-bottom: 2em;
  font-size: 42px;
  text-align: center;
  font-weight: 500;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #96CADC;
  font-size: 1em;
}
.signup__form {
  min-width: 450px;
  min-height: 450px;
  padding: 1.5em;
  margin: auto;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.52);
}
.signup__title {
  margin-bottom: 2em;
  font-size: 42px;
  text-align: center;
  font-weight: 500;
}

.home {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.unauthorized {
  background-color: red;
  height: 100vh;
  width: 100vw;
}

.not-found {
  background-color: #704522;
  height: 100vh;
  width: 100vw;
}

.projects {
  background-color: blue;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
