/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background-color: #ffffff;
}
@media only screen and (max-height: 50em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #ffffff;
  height: auto;
  font-size: 3rem;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

.sidebar {
  width: 30rem;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D9D9D9;
  padding-top: 4rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.sidebar-link:hover {
  background-color: #D9D9D9;
  color: #00ACE6;
}
.sidebar-link:hover .sidebar-link__text {
  color: #00ACE6;
}
.sidebar-link:hover .sidebar-link__image {
  width: 4rem;
  filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(6296%) hue-rotate(159deg) brightness(94%) contrast(102%);
}
.sidebar-link:active {
  color: #ffffff;
  background-color: #00ACE6;
}
.sidebar-link:active .sidebar-link__image {
  filter: brightness(100) saturate(100%);
}
.sidebar-link:active .sidebar-link__text {
  color: #ffffff;
}
.sidebar-link__image {
  width: 4rem;
  filter: brightness(0) invert(50%) sepia(0%) saturate(1527%) hue-rotate(229deg) brightness(90%) contrast(89%);
}
.sidebar-link__text {
  padding-left: 1rem;
  color: #757575;
  text-decoration: none;
  width: 100%;
}
.sidebar-link__link {
  color: inherit;
  text-decoration: none;
  display: contents;
}

.button {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 20rem;
  height: 6rem;
  color: #00ACE6;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 400;
  border: 1px solid #00ACE6;
  box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.25);
}
.button--small {
  width: 8rem;
  height: 4rem;
  font-size: 1.6rem;
  margin: auto;
}
.button:hover {
  transition: all 200ms ease-out;
  box-shadow: 0px 1.4rem 2rem rgba(0, 0, 0, 0.34);
  background-color: #00ACE6;
  color: #ffffff;
}
.button:focus {
  transition: all 200ms ease-out;
  box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.25);
}
.button--activo {
  background-color: #00ACE6;
  color: #ffffff;
}
.button--activo:hover {
  transition: all 200ms ease-out;
  box-shadow: 0px 1.4rem 2rem rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
  color: #00ACE6;
}
.button--activo:focus {
  transition: all 400ms ease-out;
  box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.25);
}
.button--borrar {
  background-color: #E63B0B;
  color: #ffffff;
  border: 1px solid #E63B0B;
}
.button--borrar:hover {
  transition: all 200ms ease-out;
  box-shadow: 0px 1.4rem 2rem rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
  color: #E63B0B;
}
.button--borrar:focus {
  transition: all 400ms ease-out;
  box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.25);
}
.button__text {
  margin: auto;
}

.input-field {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.input-field:focus-within .input-field__label {
  color: #00ACE6;
}
.input-field__label {
  color: #757575;
}
.input-field__label--error {
  color: #E63B0B;
}
.input-field__input {
  font-size: 2rem;
  height: 4rem;
  border: 0px;
  border-bottom: 1px solid #757575;
  outline: none;
  color: #757575;
}
.input-field__input:focus {
  border-bottom: 2px solid #00ACE6;
  transition: all 50ms linear;
}
.input-field__input--error {
  border-bottom: 2px solid #E63B0B;
}
.input-field__error {
  color: #E63B0B;
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 30rem;
  text-overflow: ellipsis;
}

.password-input {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-size: 2rem;
  border-bottom: 1px solid #757575;
  width: 100%;
  align-items: center;
}
.password-input--error {
  border-bottom: 2px solid #E63B0B;
}
.password-input:focus {
  border-bottom: 2px solid #00ACE6;
  transition: all 50ms linear;
}
.password-input:focus-within .input-field__label {
  color: #00ACE6;
}
.password-input__input {
  font-size: 2rem;
  height: 4rem;
  border: 0px;
  outline: none;
}
.password-input__img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-left: auto;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 2rem 0;
  z-index: 10;
  background-color: #00ACE6;
}
.navbar--home {
  position: absolute;
  background-color: transparent;
}
.navbar__logo {
  margin-left: 5rem;
  color: #ffffff;
  font: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  cursor: pointer;
}
.navbar__button-container {
  margin-left: auto;
  margin-right: 12rem;
}

.hero-content {
  background: linear-gradient(135deg, #00ACE6, #46D0FF 100%);
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-left: 10rem;
  padding-right: 2rem;
  justify-content: center;
  border-radius: 0px 0px 10rem 0px;
}
.hero-content__title {
  font-size: 9rem;
  width: 90%;
}
.hero-content__text {
  width: 85%;
  font: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-size: 3rem;
}

.hero-image {
  position: relative;
  display: flex;
  z-index: 0;
}
.hero-image__image {
  margin-left: auto;
  border-radius: 0px 0px 0px 10rem;
  width: 60%;
}

.como-empiezo {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  grid-column-gap: 25rem;
  padding: 20rem 20rem;
  color: #00ACE6;
}
.como-empiezo__img {
  width: 40rem;
  height: 40rem;
  grid-column: 1/2;
  border-radius: 100%;
  object-fit: cover;
  grid-row: 1/4;
}
.como-empiezo__title {
  grid-column: 2/3;
  font-size: 8rem;
  grid-row: 1/3;
}
.como-empiezo__text {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 3rem;
  margin-top: 8rem;
  padding-right: 5rem;
}
.como-empiezo__button {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.footer {
  background-color: #EFEFEF;
  border-radius: 0px 10rem 0px 0px;
  height: 30vh;
  padding: 0rem 8rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.footer-links {
  color: #00ACE6;
  display: flex;
  flex-direction: column;
  width: max-content;
}
.footer-links__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.footer-links__link {
  font-size: 2.2rem;
  margin-top: 0.5rem;
  color: inherit;
  text-decoration: none;
}
.footer-links__link:active {
  color: inherit;
  text-decoration: none;
}

.footer-imagenes {
  display: flex;
  flex-direction: column;
}
.footer-imagenes__cordoba {
  height: 9rem;
  margin-bottom: 2rem;
}
.footer-imagenes__educacion {
  height: 6rem;
}

.footer-redes {
  margin-top: auto;
  margin-bottom: 5rem;
}
.footer-redes__svg {
  margin-left: 1rem;
}
.footer-redes__svg--1 {
  filter: brightness(0) saturate(100%) invert(65%) sepia(53%) saturate(6330%) hue-rotate(162deg) brightness(99%) contrast(101%);
}

.login-form {
  display: flex;
  flex-direction: column;
  height: min-content;
  align-items: center;
  padding: 1rem 4rem;
}
.login-form__input {
  padding-top: 4rem;
  width: 90%;
}
.login-form__button {
  padding-top: 4rem;
}
.login-form__link-container {
  padding-top: 4rem;
}

.login-form-link {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  margin: auto;
}
.login-form-link__text {
  color: #757575;
  margin-right: 0.5rem;
}
.login-form-link__link {
  color: #00ACE6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity as needed */
  z-index: 50; /* Higher than other content */
}

.modal-card {
  display: flex;
  flex-direction: column;
  z-index: 99;
  background-color: #ffffff;
  min-width: min-content;
  min-height: min-content;
  border-radius: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
  background-color: #00ACE6;
  padding: 2rem 0;
  border-radius: 2rem 2rem 2rem 0;
}
.modal-header__title {
  align-self: center;
  padding-left: 3rem;
  font-weight: 500;
  color: white;
  font-size: 3rem;
}
.modal-header__img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  padding-right: 3rem;
  filter: brightness(100) saturate(100%);
}

.select-field {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #757575;
}
.select-field--error {
  color: #E63B0B;
}
.select-field:focus-within .select-field__label {
  color: #00ACE6;
}
.select-field__select {
  margin-top: 1rem;
  font-size: 2rem;
  height: 4rem;
  cursor: pointer;
  border: 1px solid #757575;
  color: #757575;
  border-radius: 0.5rem;
  transition: all 300ms;
  padding-left: 0.5rem;
  overflow-wrap: break-word;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-field__select--error {
  border: 1px solid #E63B0B;
}
.select-field__select:hover {
  border: 1px solid #00ACE6;
}
.select-field__select:focus {
  border: 1px solid #00ACE6;
  background-color: #EFEFEF;
}
.select-field__option {
  background-color: #ffffff;
  color: #757575;
  font-size: 2rem;
  padding-left: 0.5rem;
}
.select-field__error {
  color: #E63B0B;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-overflow: ellipsis;
}

.register-project-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: auto;
  max-width: 75rem;
  min-height: 4rem;
  border-radius: 4px;
  padding-bottom: 2rem;
  margin-top: 5rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.register-project-form__title {
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem 0rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  background-color: #00ACE6;
  color: #ffffff;
}
.register-project-form__input {
  width: 80%;
  align-self: center;
  margin-bottom: 1rem;
}
.register-project-form__button {
  margin-top: 2rem;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.signup-form {
  min-width: 45rem;
  min-height: 45rem;
  padding: 3rem 5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: auto;
  animation: card-load 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.signup-form__button-container {
  align-self: flex-end;
  margin-top: 4rem;
}
.signup-form__button-container--double {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.signup-form__input {
  margin-top: 1rem;
}

@keyframes card-load {
  0% {
    margin-top: 4rem;
    opacity: 0%;
  }
  100% {
    margin-top: 0rem;
    opacity: 100%;
  }
}
.signup-progress {
  display: flex;
  padding: 2rem 0rem;
}
.signup-progress__barra {
  display: flex;
  background-color: #D9D9D9;
  color: white;
  font-size: 2rem;
  font: "Be Vietnam Pro", sans-serif;
  padding: 2rem 4rem;
  margin-right: 1rem;
  transition: all 400ms ease-out;
}
.signup-progress__barra--fill {
  background-color: #00ACE6;
}

.signup-confirm {
  min-width: 45rem;
  width: 70rem;
  height: max-content;
  padding: 3rem 5rem;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  border-radius: 1rem;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: auto;
}
.signup-confirm__column--1 {
  grid-column: 1/2;
}
.signup-confirm__column--2 {
  grid-column: 2/3;
}
.signup-confirm__button-container {
  margin-top: 3rem;
  display: flex;
  grid-column: 1/3;
  justify-content: space-between;
}

.card-data {
  font-weight: 400;
  color: #757575;
  width: 90%;
  border-bottom: 1px solid #757575;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
}
.card-data__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.card-data__value {
  font-size: 2rem;
}

.edit-project-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: auto;
  max-width: 80rem;
  padding-bottom: 4rem;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0px 45px 77px 27px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}
.edit-project-form__title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  background-color: #00ACE6;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 0rem;
  margin-bottom: 1rem;
}
.edit-project-form__input {
  width: 80%;
  align-self: center;
  margin-bottom: 1rem;
}
.edit-project-form__button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.project-card {
  background-color: #ffffff;
  width: 70%;
  padding: 4rem;
  box-shadow: 0px 45px 77px 27px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  margin: 0 auto;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 2);
}
.project-card__titulo {
  color: #00ACE6;
  grid-row: 1/2;
  grid-column: 1/2;
}
.project-card__edit {
  color: #00ACE6;
  grid-row: 1/2;
  grid-column: 2/3;
  margin: -2rem 3rem;
  margin-left: 0rem;
}

.project-card-details {
  color: #757575;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
}
.project-card-details__detail {
  margin-top: 1rem;
}

.image-link {
  width: 4rem;
}
.image-link__image {
  width: 8rem;
  height: 8rem;
  filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(6296%) hue-rotate(159deg) brightness(94%) contrast(102%);
}
.image-link__image--small {
  width: 4.5rem;
  height: 4.5rem;
}

.crear-feria-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 75rem;
  height: min-content;
  align-items: center;
  border-radius: 2rem;
  padding-bottom: 2rem;
  justify-content: space-around;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.crear-feria-form__title {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  background-color: #00ACE6;
  color: #ffffff;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-radius: 2rem 2rem 2rem 0;
}
.crear-feria-form__input {
  padding-top: 4rem;
  width: 90%;
}
.crear-feria-form__button {
  width: 100%;
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
}

.sedes-feria-form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}
.sedes-feria-form__title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1rem;
  padding-left: 6rem;
}
.sedes-feria-form__input {
  padding-top: 1rem;
  width: 80%;
  max-width: 80%;
  padding-left: 6rem;
}
.sedes-feria-form__input:first-child {
  padding-top: 0rem;
}

.image-button {
  width: 4rem;
  cursor: pointer;
  margin: auto;
}
.image-button__image {
  width: 8rem;
  height: 8rem;
  filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(6296%) hue-rotate(159deg) brightness(94%) contrast(102%);
}
.image-button__image--small {
  width: 3.4rem;
  height: 3.4rem;
}

.table {
  width: 95%;
  align-self: center;
  border-collapse: collapse;
}
.table__header {
  border-bottom: 1px solid black;
  padding: 6rem;
}

.table-card {
  background-color: #ffffff;
  width: 80%;
  box-shadow: 0px 45px 77px 27px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
}
.table-card__title {
  font-weight: 500;
  color: #ffffff;
  background-color: #00ACE6;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
  padding-left: 6rem;
}

.table-header__head {
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  padding: 2rem 1rem;
}

.table-body-row {
  border-bottom: 1px solid black;
}
.table-body-row__td {
  font-size: 2rem;
  text-align: center;
  color: #757575;
  padding: 2rem 0rem;
  margin: auto;
  text-overflow: ellipsis;
  min-width: 15rem;
}
.table-body-row__td--actions {
  display: flex;
  justify-content: space-around;
}

.file-field {
  display: flex;
  flex-direction: column;
}
.file-field__label {
  border: 1px solid #757575;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: #757575;
  display: flex;
  cursor: pointer;
}
.file-field__label:hover {
  border: 1px solid #00ACE6;
  transition: all 300ms ease-in-out;
  color: #00ACE6;
}
.file-field__label--error {
  color: #E63B0B;
  border: 1px solid #E63B0B;
  background-color: #ffffff;
}
.file-field__label--loaded {
  color: #00ACE6;
  border: 1px solid #00ACE6;
  background-color: #ffffff;
}
.file-field__select {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-field__image {
  width: 3rem;
  height: 3rem;
  filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(6296%) hue-rotate(159deg) brightness(94%) contrast(102%);
  margin: auto 0;
  margin-left: auto;
}
.file-field__error {
  color: #E63B0B;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-overflow: ellipsis;
}

.add-alumno {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  margin-top: 2rem;
  align-self: center;
  border-collapse: collapse;
}
.add-alumno__alumno {
  margin: auto auto;
  font-size: 2rem;
  width: 20%;
  color: #757575;
  padding: 2rem 0rem;
}
.add-alumno__alumno:last-child {
  width: min-content;
}

.actualizar-grupo {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: fit-content;
}

.datos-feria-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem 4rem;
  justify-content: space-around;
  align-items: center;
}
.datos-feria-form__title {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}
.datos-feria-form__input {
  width: 100%;
  margin-bottom: 2rem;
}

.instancias-feria-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 4rem;
  width: 100%;
}
.instancias-feria-form__title {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.grupo-fechas {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
}
.grupo-fechas__title {
  font-size: 2.5rem;
  text-align: center;
  align-self: flex-start;
  font-weight: 500;
}
.grupo-fechas__sub {
  font-size: 2rem;
  text-align: center;
  color: #757575;
  align-self: flex-start;
  font-weight: 500;
  margin-top: 1rem;
}
.grupo-fechas__group {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  width: 100%;
  margin: 0;
}
.grupo-fechas__group > div {
  width: 50%;
}
.grupo-fechas__group > div:not(:last-child) {
  margin-right: 4rem;
}

.seleccion-sedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 90%;
}
.seleccion-sedes__title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1rem;
  align-self: flex-start;
}
.seleccion-sedes__blank {
  font-size: 2rem;
  color: #757575;
  font-weight: 500;
  align-self: flex-start;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #757575;
}
.autocomplete:focus-within .input-field__label {
  color: #00ACE6;
}
.autocomplete__label {
  margin-bottom: 1rem;
}
.autocomplete__label--error {
  color: #E63B0B;
}
.autocomplete__input {
  font-size: 1.7rem;
  height: 4rem;
  border: 0px;
  border: 1px solid #757575;
  border-radius: 0.5rem;
  padding-left: 1rem;
  outline: none;
  color: #757575;
}
.autocomplete__input:focus {
  border: 1px solid #00ACE6;
  transition: all 50ms linear;
}
.autocomplete__input--error {
  border-bottom: 2px solid #E63B0B;
}
.autocomplete__container > div:not(:first-child) {
  padding: 0.5rem 0;
  border-bottom: 1px solid #757575;
}
.autocomplete__container > div:not(:first-child):hover {
  cursor: pointer;
  color: #00ACE6;
  border-bottom: 1px solid #00ACE6;
}
.autocomplete__container {
  max-height: 30vh;
  overflow-y: scroll;
}

.cupos-modal {
  padding: 0 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.cupos-modal__nivel {
  padding: 1rem 2rem;
}
.cupos-modal__button {
  padding-top: 3rem;
  align-self: center;
}

.nueva-rubrica {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.nueva-rubrica__title {
  font-size: 2.5rem;
  min-width: 80%;
  color: #757575;
}
.nueva-rubrica__input {
  width: 80%;
  max-width: 80%;
  padding: 1rem 0;
  margin: auto 0;
}
.nueva-rubrica__image-container {
  align-self: center;
  margin-left: auto;
}

.nuevo-criterio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.nuevo-criterio__title {
  font-size: 2.3rem;
  min-width: 80%;
  color: #757575;
}
.nuevo-criterio__input {
  padding: 1rem 0;
}
.nuevo-criterio__input--ponderacion {
  width: 20%;
  max-width: 20%;
  margin-left: auto;
}
.nuevo-criterio__input--criterio {
  width: 40%;
  max-width: 40%;
}
.nuevo-criterio__image-container {
  align-self: center;
  margin-left: auto;
}

.feria-rubrica-card {
  display: grid;
  background-color: #ffffff;
  margin: auto;
  width: 90%;
  max-width: 75rem;
  height: min-content;
  align-items: center;
  justify-items: center;
  border-radius: 2rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);
}
.feria-rubrica-card__header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2rem;
  font-weight: 500;
  background-color: #00ACE6;
  color: #ffffff;
  padding: 1rem 0;
  border-radius: 2rem 2rem 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feria-rubrica-card__header > div {
  margin: 0;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 1rem;
  filter: grayscale(100%) brightness(100);
}
.feria-rubrica-card__header > * {
  margin: 0 2rem;
}
.feria-rubrica-card__img-container {
  grid-row: 1/2;
  grid-column: 2/3;
}
.feria-rubrica-card__table-container {
  grid-row: 2/3;
  grid-column: 1/3;
}
.feria-rubrica-card__error {
  grid-row: 3/4;
  grid-column: 1/3;
  color: #E63B0B;
  font-size: 1.5rem;
  align-self: flex-start;
  justify-self: flex-start;
  padding-left: 2rem;
  padding-top: 1rem;
}
.feria-rubrica-card__nuevo-container {
  grid-row: 4/5;
  grid-column: 1/3;
}

.feria-rubrica-form {
  max-height: 60vh;
  overflow-y: scroll;
  width: 100%;
  padding-bottom: 6rem;
}
.feria-rubrica-form__title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1rem;
  padding-left: 3rem;
}
.feria-rubrica-form__blank {
  padding-left: 3rem;
  margin-right: auto;
  font-size: 2rem;
  color: #757575;
}

.add-opcion {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  margin-top: 2rem;
  align-self: center;
  border-collapse: collapse;
}
.add-opcion__opcion {
  margin: auto;
  font-size: 2rem;
  width: 40%;
  color: #757575;
  padding: 2rem 0rem;
}
.add-opcion__opcion:last-child {
  width: min-content;
}

.dashboard {
  display: flex;
  flex-direction: column;
}
.dashboard__title {
  font-size: 5.5rem;
  color: #00ACE6;
  margin-bottom: 5rem;
  align-self: flex-start;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 30%;
  padding: 8rem 2rem;
  box-shadow: 0px 45px 77px 27px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.dashboard-card:hover {
  box-shadow: 0px 45px 77px 27px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
.dashboard-card__img {
  width: 23rem;
  filter: brightness(0) saturate(100%) invert(58%) sepia(25%) saturate(6296%) hue-rotate(159deg) brightness(94%) contrast(102%);
}
.dashboard-card__text {
  padding-top: 4rem;
  color: #00ACE6;
  text-decoration: none;
  width: 100%;
  margin: auto;
  font-weight: normal;
  font-size: 3.2rem;
  text-align: center;
}
.dashboard-card__link {
  color: inherit;
  text-decoration: none;
  display: contents;
}

.dashboard-inicio-feria {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10rem;
  justify-content: space-around;
}
.dashboard-inicio-feria__text {
  width: 100%;
  padding-bottom: 7rem;
}

.progress-bar {
  display: flex;
  padding: 2rem 0rem;
  margin: auto;
  margin-bottom: 2rem;
  width: max-content;
}
.progress-bar__barra {
  display: flex;
  background-color: #D9D9D9;
  color: white;
  font-size: 2rem;
  font: "Be Vietnam Pro", sans-serif;
  padding: 2rem 4rem;
  margin-right: 1rem;
  transition: all 400ms ease-out;
}
.progress-bar__barra--fill {
  background-color: #00ACE6;
}

.badge {
  display: block;
  padding: 3px;
  width: 15rem;
  border-radius: 20px;
  color: white;
  text-align: center;
  margin: 1rem;
}

.login {
  background-color: rgba(0, 0, 0, 0.3);
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-size: 1em;
}
.signup__navbar {
  width: 100%;
  align-self: flex-start;
  margin-bottom: 0rem;
  top: 0;
}
.signup__title {
  font-size: 4rem;
  text-align: left;
  font-weight: 500;
  align-self: flex-start;
}
.signup__text {
  font-size: 2.5rem;
  align-self: flex-start;
}

.home {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.unauthorized {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
}
.unauthorized__title {
  font-weight: 600;
  font-size: 4rem;
  margin: 3rem;
}
.unauthorized__text {
  font-size: 2rem;
  max-width: 90rem;
  text-align: center;
  color: #757575;
}
.unauthorized__img {
  height: 125px;
  width: 125px;
  margin-top: 3rem;
}
.unauthorized__buttons {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.not-found {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  background-color: #ffffff;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
}
.not-found__title {
  font-weight: 600;
  font-size: 4rem;
  margin: 3rem;
}
.not-found__text {
  font-size: 2rem;
  max-width: 90rem;
  text-align: center;
  color: #757575;
}
.not-found__img {
  height: 125px;
  width: 125px;
  margin-top: 3rem;
}
.not-found__buttons {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projects {
  background-color: blue;
  height: 100vh;
  width: 100vw;
}

.layout {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 20% 80%;
  min-height: 100vh;
  max-width: 100vw;
}
.layout__nav {
  grid-row: 1/2;
  grid-column: 1/3;
}
.layout__side {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  display: flex;
  padding: 0;
}
.layout__main {
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 5rem 0;
  min-height: 70vh;
}
.layout__main--full-width {
  padding: 0;
  grid-row: 2/3;
  grid-column: 1/3;
}
.layout__footer {
  grid-row: 3/4;
  grid-column: 1/3;
}

/*# sourceMappingURL=style.css.map */
