.add-alumno {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0rem;
    margin-top: 2rem;

    border-collapse: collapse;

    @media screen and (max-width: $bp-medium) {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }

    @media screen and (max-width: $bp-small) {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 70% 30%;
        width: 100%;
        margin-left: auto;
        margin-top: 2rem;
    }
    
    &__alumno {
        margin: auto auto;
        font-size: 2rem;
        width: 20%;

        color: $color-grey-dark;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-top: 0;

        @media screen and (max-width: $bp-small) {
            width: 80%;
            grid-column: 1 / 2;

        }

    

        &:last-child {
            width: min-content;
            align-self: center;
            
            @media screen and (max-width: $bp-small) {
                grid-column: 2 / 3;
                grid-row: 1 / 4;
            }
        }

        &--antecedentes {
            width: max-content;
            margin-right: 3rem;

            &:last-child {
                margin-top: auto;
                align-self: center;
            }    
        }
    }
}