.add-alumno {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 2rem;

    align-self: center;
    margin: auto;
    border-collapse: collapse;



    &__alumno {
        margin: auto auto;
        font-size: 2rem;
        width: 20%;

        color: $color-grey-dark;
        margin-top: 2rem;
        margin-bottom: 2rem;


        &:last-child {
            width: min-content;
        }

        &--antecedentes {
            width: max-content;
            margin-right: 3rem;

            &:last-child {
                
                margin-top: auto;
                
            }    

        }

    }

    

}