.add-alumno {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0rem;
    margin-top: 2rem;

    border-collapse: collapse;

    @media screen and (max-width: $bp-medium) {
        width: 90%;
    }
    
    &__alumno {
        margin: auto auto;
        font-size: 2rem;
        width: 20%;

        color: $color-grey-dark;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-top: 0;


        &:last-child {
            width: min-content;
            align-self: center;
        }

        &--antecedentes {
            width: max-content;
            margin-right: 3rem;

            @media screen and (max-width: $bp-small) {
                margin-right: .5rem;
                max-width: 40%;
            }

            &:last-child {
                
                margin-top: auto;
                align-self: center;
                
            }    

        }

    }

    

}