.badge {
    display: inline-block;
    padding: .5rem 2rem;
    width: max-content;
    border-radius: 2rem;
    color: white;
    text-align: center;
    margin: 1rem;
    //margin: auto;

    vertical-align: middle;

    font-size: 2rem;

    @media screen and (max-width: $bp-medium) {
        font-size: 1.5rem;
        padding: .5rem 1rem;
      }
}