.blank-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    
    &__img {
        width: 25rem;
        height: 25rem;

        &--isotipo {
            width: 40rem;
            height: 40rem;

        }

        &--error {
            filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(449%) hue-rotate(163deg) brightness(98%) contrast(87%);
        }
    }

    &__text {
        font-size: 3rem;
        font-weight: normal;
        margin-top: 4rem;
        text-align: center;
        max-width: 60rem;
    }

}