.blank-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    
    &__img {
        width: 25rem;
        height: 25rem;
    }

    &__text {
        font-size: 3rem;
        font-weight: normal;
        margin-top: 4rem;
        text-align: center;
        max-width: 60rem;
    }

}