.button {
    display: flex;
    align-items: center;
    background-color: $color-white;
    width: 20rem;
    height: 6rem;
    color: $color-primary;
    //padding: 14px 16px;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 400;
    border: 1px solid $color-primary;

    box-shadow: 0px .4rem 2rem rgba(0, 0, 0, .25);

    @media screen and (max-width: $bp-small) {
        font-size: 1.9rem;
        width: 15rem;
        padding: 0;
        height: 5rem;
      }

      &--small {
        width: 8rem;
        height: 4rem;
        font-size: 1.6rem;
        margin: auto;

        @media screen and (max-width: $bp-small) {
            font-size: 1.5rem;
            width: 7rem;
          }
    }

    &:hover {
        transition: all 200ms ease-out;
        box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, .5);
        background-color: $color-primary;
        border: 1px solid $color-white;
        color: $color-white;
    }

    &:focus {
        transition: all 200ms ease-out;
        box-shadow: 0px .4rem 2rem rgba(0, 0, 0, .25);
    }

    &--activo {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
            transition: all 200ms ease-out;
            box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, .5);
            background-color: $color-white;
        
            color: $color-primary;
            border: none;
        }

        &:focus {
            transition: all 400ms ease-out;
            box-shadow: 0px .4rem 2rem rgba(0, 0, 0, .25);
        }
    }

    &--borrar {
        background-color: $color-red;
        color: $color-white;
        border: 1px solid $color-red;

        &:hover {
            transition: all 200ms ease-out;
            box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, .5);
            background-color: $color-white;
        
            color: $color-red;
        }

        &:focus {
            transition: all 400ms ease-out;
            box-shadow: 0px .4rem 2rem rgba(0, 0, 0, .25);
        }
    }

    &__text {
        margin: auto;
    }
} 