.cambiar-password {
    width: 90%;
    color: $color-grey-dark;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    &__text {
        font-size: 2.5rem;
        margin: 1rem 0;

        @media screen and (max-width: $bp-medium) {
            font-size: 2rem;
         }
    }


    &__button {
        margin: auto;
        margin-top: 3rem;

    }
}