.card {
    display: flex;
    flex-direction: column;

    background-color: $color-white;
    //margin: auto;

    width: 90%;
    max-width: 75rem;
    height: min-content;
    min-height: auto;

    align-items: center;
    justify-items: center;

    border-radius: 2rem;
    padding-bottom: 2.5rem;
    margin-top: 3rem;

    //justify-content: space-around;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.20), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);

    opacity: 0;
    transform: translateY(1rem);
    transition: opacity .3s ease-in-out, transform .8s ease-in-out;

    @media screen and (max-width: $bp-small) {
        margin-top: 1rem;
        min-height: auto;
    }

    &--wide {
        max-width: 70vw;
        width: fit-content;
        
        padding: 1rem 3rem;
        padding-bottom: 2.5rem;
        padding-top: 0;
        
        @media screen and (max-width: $bp-small) {
            padding: 1rem 1rem;
            padding-top: 0;
        }
    }
   
    

    &--animate {
        opacity: 1;
        transform: none;
    }


}