.crear-feria-form {
    display: flex;
    flex-direction: column;

    background-color: $color-white;

    width: 100%;
    height: min-content;

    align-items: center;
    //padding: 1rem 4rem;

    &__input {
        padding-top: 4rem;
        width: 90%;
    }

    &__button {
        width: 100%;
        display: flex;
        padding-top: 3rem;  
        justify-content: space-around;
        
    }
}