.cupos-modal {
    padding: 0 4rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 60rem;

    @media screen and (max-width: $bp-small) {
        width: 70vw;
        padding: 0 3rem;
    } 

    &__nivel {
        padding: 1rem 2rem;

        @media screen and (max-width: $bp-small) {
            padding: 1rem;
        } 
  
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__button {
        padding-top: 3rem;
        padding-bottom: 2rem;
        align-self: center;
    }

}