.dashboard-inicio-feria {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10rem;

    justify-content: space-around;

    &__text{ 
        width: 100%;
        padding-bottom: 7rem;
        color: $color-grey-dark;
    }

}