.dashboard-referente {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    color: $color-grey-dark;
    width: 80%;

    & > :last-child {
        padding-top: 3rem;

        @media screen and (max-width: $bp-medium) {
            padding-top: 1.5rem;
        }
    }

    &__details {
        padding-top: 1rem;

        & > h4 {
            font-weight: normal;

            @media screen and (max-width: $bp-small) {
                font-size: 2rem;
            }
        }
        
        & > p {
            padding-top: 1rem;
            font-size: 2.5rem;


            @media screen and (max-width: $bp-medium) {
                font-size: 2rem;
            }

            @media screen and (max-width: $bp-small) {
                font-size: 1.5rem;
            }
        }
    }
}