.datos-feria-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem 4rem;

    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: $bp-medium) {
        padding: 1rem 0rem;
    }
    

    &__title {
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
        //padding: 2rem 0rem;
        margin-bottom: 2rem;

        @media screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
        
    }
    &__input {
        width: 100%;
        margin-bottom: 2rem;


    }
    
}