.dropdown-navbar {

    &__content {
        background-color: white;
        padding: 20px;
        margin: 10px;
        margin-top: 20px;
        border: 1px solid grey;
        position: absolute;
        left: 80%;
        max-height: 20rem;
        background-color: white;
        border-radius: 5%;
        list-style: none;
        &--item{
            cursor: pointer;
        }
    }

}