.footer-links {
    color: $color-primary;
    display: flex;
    flex-direction: column;
    width: max-content;


    &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }


    &__link {
        font-size: 2.2rem;
        margin-top: .5rem;
        color: inherit;
        text-decoration: none;

        &:active {
            color: inherit;
            text-decoration: none;
        }
    }
}