.generic-badge {

        display: flex;
        padding: 1rem;
        //width: 15rem;
        width: fit-content;
        border-radius: 2rem;
        color: white;
        text-align: center;
        margin: 1rem;
        background-color: #72B8FF;

        font-size: 1.3rem;

}