.input-field {
    display: flex;
    flex-direction: column;


    &:focus-within {
        .input-field__label {
           color: $color-primary
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        
        //margin-bottom: 1rem;
        font-size: 2rem;
        color: $color-grey-dark;
        
        &--error {
            color: $color-red;
        }

    }


    &__input {
        font-size: 2rem;
        padding: 1rem 0rem;
        border: 0px;
        border-bottom: 1px solid $color-grey-dark;
        outline: none;
        color: $color-grey-dark;
        

        &:focus {
            border-bottom: 2px solid $color-primary;
            transition: all 50ms linear;

        }

        

        &--error {
            border-bottom: 2px solid $color-red;
        } 
    }

    




    &__error {
        color: $color-red;
        font-size: 1.5rem;
        margin-top: 1rem;
        text-overflow:ellipsis;
    }


    
}