.login-form {
    display: flex;
    flex-direction: column;
    height: min-content;
    align-items: center;
    margin: 1rem 4rem;
    max-width: 38rem;
    width: 38rem;

    @media screen and (max-width: $bp-small) {
        min-width: 30rem;
        width: 30rem;
      }

    &__input {
        padding-top: 4rem;
        width: 90%;
    }

    &__button {
        padding-top: 4rem;
    }

    
    &__link-container {
        padding-top: 4rem;  
    }


    &__recover-container {
        background-color: $color-grey;
        width: 38rem;
        border-radius:  0px 2rem 2rem 2rem;

        padding: 2rem 4rem;
        margin-top: 1rem;
        margin-bottom: -1rem;

        @media screen and (max-width: $bp-small) {
            width: 30rem;
          }
    }
}