.login-form {
    display: flex;
    flex-direction: column;
    height: min-content;
    align-items: center;
    padding: 1rem 4rem;

    &__input {
        padding-top: 4rem;
        width: 90%;
    }

    &__button {
        padding-top: 4rem;
    }

    
    &__link-container {
        padding-top: 4rem;  
    }
}