.login-form-link {
    display: flex;
    font-size: 1.8rem;

    align-items: center;
    margin: auto;

    &__text {
        color: $color-grey-dark;
       
        margin-right: .5rem;
    }


    &__link {
        color: $color-primary;
    }

}