.login-form {
    display: flex;
    flex-direction: column;


    &__input {
        width: 80%;
        align-self: center;
        padding-top: 3rem;

    }

    &__button {
        padding-top: 3rem;
        align-self: center;
    }

    
    &__link-container {
        padding-top: 3rem;
        align-self: center;
        
    }
}