.modal-card {
    display: flex;
    flex-direction: column;
    z-index: 99;
    background-color: $color-white;

    min-width: min-content;
    min-height: min-content;
    //height: 45rem;
    //width: 45rem;
    border-radius: 2rem;
    
    padding-bottom: 2rem;
    


    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.20), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        

    // CENTER POSTIION
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
