.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding:  2rem 0 ;
    z-index: 10;

    // o fixeD?
    position: absolute;
    

    &__logo {
        margin-left: 5rem;
        color: $color-white;
        font: $font-primary;
        font-weight: 600;
        font-size: 5rem;
    }

    &__button-container {
        margin-left: auto;
        margin-right: 12rem;
    }

}