.nuevo-criterio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;

    @media screen and (max-width: $bp-small) {
        width: 90%;
    } 

    &__title {
        font-size: 2.3rem;
        min-width: 90%;
        color: $color-grey-dark;
    }




    &__input {
        padding: 1rem 0;

        &--ponderacion {
            width: 20%;
            max-width: 20%;
            margin-left: auto;

            @media screen and (max-width: $bp-small) {
                width: 15%;
            max-width: 15%;
            margin-right: auto;
            } 

        }

        &--criterio {
            width: 40%;
            max-width: 40%;

            @media screen and (max-width: $bp-small) {
                width: 30%;
            max-width: 30%;
            } 
            
        }
        
    }

    &__image-container {
        align-self: center;
        margin-left: auto;

    }



}