.password-input {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 2rem;
    border-bottom: 1px solid $color-grey-dark;
    width: 100%;

    align-items: center;

    

    

    &--error {
        border-bottom: 2px solid $color-red;
    } 

    &:focus {
        border-bottom: 2px solid $color-primary;
        transition: all 50ms linear;

    }

    &:focus-within {
        .input-field__label {
           color: $color-primary
        }
    }


    &__input {
        font-size: 2rem;
        height: 4rem;
        border: 0px;
        //border-bottom: 1px solid $color-grey-dark;
        //padding: .5rem 3rem;
        outline: none;
        
        

        
    }


    &__img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin-left: auto;
    }


}