.postulacion-form {
    width: 100%;
    color: $color-grey-dark;

    display: flex;
    flex-direction: column;
    padding-top: 2rem;



    &__title {
        font-size: 3rem;
        color: $color-grey-dark;
        padding-left: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
       
        
    }

    &__input {
        padding-top: 3rem;
        padding-bottom: 2rem;
        width: 80%;
        max-width: 80%;
        padding-left: 6rem;
        
    }

    &__error {
        font-size: 2rem;
        color: $color-red;
    }

}