.preview-badge {
    display: block;
    padding: 1.5rem 6rem;
    margin: 3rem;
    margin-bottom: 7rem;
    width: 12rem;
    border-radius: 2rem;
    color: white;
    text-align: center;

    font-size: 2rem;
}