.progress-bar {
    display: flex;
    padding: 2rem 0rem;
    margin: auto;
    margin-bottom: 2rem;
    width: max-content;
    
    &__barra {
        display: flex;
        background-color: $color-grey-light;
        color: white;
        font-size: 2rem;
        font: $font-primary ;       
        padding: 2rem 4rem; 
            
        margin-right: 1rem;
    
        transition: all 400ms ease-out;

        @media screen and (max-width: $bp-largest) {
            font-size: 1.8rem;
            padding: 2rem 3rem; 
          }

          @media screen and (max-width: $bp-large) {
            font-size: 1.6rem;
            padding: 1.5rem 1.5rem; 
          }

          @media screen and (max-width: $bp-small) {
            width: 3rem;
          }

            
            
        &--fill {
            background-color: $color-primary;
        }

        & > p {
            @media screen and (max-width: $bp-small) {
              display: none;
            }
          } 
            
    
    }
}