.project-card-header {
    width: 100%;
    display: flex;

    background-color: $color-primary;
    color: $color-white;
    border-radius: 2rem 2rem 0rem 0;
    align-items: center;
    padding: 1.5rem 3rem;

    @media screen and (max-width: $bp-small) {
        padding: 1rem;
      }

    &__titulo {
        margin-right: auto;
        font-size: 3rem;
        padding: 0 1rem;

        @media screen and (max-width: $bp-medium) {
            font-size: 2rem;
          }

          @media screen and (max-width: $bp-medium) {
            font-size: 1.6rem;
            text-align: center;
          }
    }

    &__botones {
        display: flex;
        align-self: flex-end;
        margin-left: auto;
        align-items: center;
    }

    &__img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(105%) contrast(101%);
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 5rem;
        height: 5rem;
        margin: auto 2rem;

        @media screen and (max-width: $bp-medium) {
            margin: auto 1rem;
            width: 3rem;
            height: 3rem;
          }
    }

}