.project-card-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;

    color: $color-grey-dark;
    padding: 2rem;
    font-size: 2.5rem;
    
    @media screen and (max-width: $bp-large) {
        display: flex;
        flex-direction: column;
        font-size: 2.3;
      }

    &__detail {
        margin-top: 1rem;
        grid-column: 1 / 2;

        @media screen and (max-width: $bp-large) {
            font-size: 2rem;
          }

          @media screen and (max-width: $bp-small) {
            font-size: 1.8rem;
          }
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media screen and (max-width: $bp-large) {
            font-size: 2rem;
          }
          @media screen and (max-width: $bp-small) {
            font-size: 1.8rem;
          }
    }

    &__badge-container {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
}