.project-card-details {
    color: $color-grey-dark;

    padding: 0 2rem;
    padding-bottom: 2rem;
    
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    font-size: 2.5rem;


    &__detail {
        margin-top: 1rem;
        
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        //padding-top: 2rem;

        &--first {
            margin-top: 3rem;
        }



    }

}