.promover-proyectos {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 80%;
        max-width: 80%;

    &__input {
        padding: 1.5rem 0rem;
        width: 100%;
        margin: auto;
        
    }

    &__error {
        font-size: 2rem;
        color: $color-red;

        @media screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
    }

}