.register-project-form {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    margin: auto;

    width: 100%;
    padding-bottom: 2rem;
    margin-top: 3rem;
    //margin: auto;
    justify-content: space-around;
    align-items: flex-start;
    

   
    &__title {
        margin-bottom: 2rem;
        width: 100%;
        padding: 1rem 0rem;

        font-size: 3rem;
        text-align: center;
        font-weight: 500; 
        background-color: $color-primary;
        color: $color-white;
        
    }
    &__input {
        width: 80%;
        align-self: center;
        margin-bottom: 1rem;


    }

    &__button {
        margin-top: 2rem;
        align-self: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}