.register-project-form {
    display: flex;
    flex-direction: column;
    margin: auto;


    width: 80%;

    padding-bottom: 2rem;
    margin-top: 2rem;
    //margin: auto;
    justify-content: space-around;
    align-items: flex-start;

    @media screen and (max-width: $bp-medium) {
        margin-top: 1rem; 
    }

    @media screen and (max-width: $bp-small) {
        width: 85%;
    }

    
    &__input {
        width: 100%;
        align-self: center;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 2.4rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
        color: $color-grey-dark;

        @media screen and (max-width: $bp-medium) {
            margin-top: 1rem;
            font-size: 2.2rem;
        }
    }

}