.rubrica {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;

    @media screen and (max-width: $bp-medium) {
        width: 90%;
        margin: 0;
    }  

    &__nombre {
        font-size: 3.6rem;
        color: $color-grey-dark;  
        padding-top: 2rem;

        @media screen and (max-width: $bp-medium) {
            font-size: 3rem;
            padding-top: 1rem;
        }
    }

    &__input {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 80%;
        max-width: 80%;
        
        @media screen and (max-width: $bp-medium) {
            width: 100%;
            max-width: 100%;  
        }  
    }
}