.sedes-feria-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        margin-top: 1rem;
        padding-left: 6rem;

        @media screen and (max-width: $bp-medium) {
            padding-left: 0rem;
            align-self: center;
        }  
    }

    &__input {
        padding-top: 1rem;
        width: 80%;
        max-width: 80%;
        padding-left: 6rem;

        @media screen and (max-width: $bp-medium) {
            padding-left: 0rem;
            align-self: center;
        }  
        
    }

    &__input:first-child {
        padding-top: 0rem;
    }

}