.sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    padding-top: 4rem;
    border-right: 1px solid $color-grey-light;


    width: 0rem;
    //opacity: 0;
    //transition: width .3s ease-in-out, transform .8s ease-in-out;

    &--show {
        width: 30rem;
        //opacity: 1;
        transition: width .3s ease-in-out, transform .8s ease-in-out;
    }

    &__dropdown-content {
        & > div {
            padding-left: 2.5rem;
            background-color: $color-grey;
            font-size: 2.3rem;
        }
    }

}



