.sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    padding-top: 4rem;
    border-right: 1px solid $color-grey-light;


    width: 6rem;
    //transition: width 3s linear;

    &--show {
        width: 30rem;
        transition: width .3s linear;
    }

    &__dropdown-content {
        & > div {
            padding-left: 2.5rem;
            background-color: $color-grey;
            font-size: 2.3rem;
        }
    }

}



