.signup-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        margin-top: 1rem;
        width: 40rem;
        min-width: 40rem;
        max-width: 40rem;

        @media screen and (max-width: $bp-small) {
            min-width: 30rem;
            width: 30rem;
          }
    }
}
