.signup-progress {
    display: flex;
    padding-bottom: 3rem;

    &__barra {
        display: flex;
        background-color: $color-grey-light;
        color: white;
        
        transition: all 400ms ease-out;

        font-size: 2rem;
        padding: 2rem 4rem; 

        &:not(:last-child) {
          margin-right: 1rem;
        }
        
        @media screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
            padding: 2rem 3rem; 
          }

          @media screen and (max-width: $bp-small) {
            font-size: 1.7rem;
            padding: 2rem .5rem; 
            text-align: center;
          }

        &--fill {
            background-color: $color-primary;
        }
    }
}