.signup-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    

    &__button-container {
        
        align-self: flex-end;
        margin-top: 4rem;


        &--double {
            display: flex;
            justify-content: space-between;

            & > :nth-child(2) {
                margin-left: 2rem;
              }
            
            
        }

    }

    &__input {
        margin-top: 1rem;
    }
}
