.signup-progress {
    display: flex;
    padding-bottom: 3rem;

    &__barra {
        display: flex;
        background-color: $color-grey-light;
        color: white;
        margin-right: 1rem;
        transition: all 400ms ease-out;

        font-size: 2rem;
        padding: 2rem 4rem; 
        

        @media screen and (max-width: $bp-medium) {
            font-size: 1.8rem;
            padding: 2rem 3rem; 
          }

          @media screen and (max-width: $bp-small) {
            font-size: 1.9rem;
            padding: 2rem .5rem; 
            text-align: center;
            //align-self: center;
          }

        &--fill {
            background-color: $color-primary;
        }
    }
}