.table-body-row {
    border-bottom: 1px solid black;


    &__td {
        font-size: 2rem;
        text-align: center;
        color: $color-grey-dark;
        padding: 2rem 0rem;
        margin: auto;
        //white-space: nowrap;
        //overflow: hidden;
        text-overflow: ellipsis;

        // ?
        min-width: 15rem;
        
        

        &--actions {
            display: flex;
            justify-content: space-around;
        }

        &--badges {
            
            flex-direction: column;
        }
        
        
    }

}